<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <pages-progress-bar [progress]="progressPrimary" />
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <pages-progress-bar
          [progress]="progressSuccess"
          [background]="'bg-success'"
        />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <pages-increaser
          [value]="progressPrimary"
          (value)="progressPrimary = $event"
        />
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <pages-increaser
          [backgroundButton]="'btn-success'"
          [value]="progressSuccess"
          (value)="progressSuccess = $event"
        />
      </div>
    </div>
  </div>
</div>
