<div class="row">
  <div class="col-6">
    <pages-doughnut-chart
    [title]="titleOne"
      [data]="dataOne"
      [backgroundColor]="backgroundColorOne"
      [labels]="labelsOne"
    />
  </div>
  <div class="col-6">
    <pages-doughnut-chart
    [title]="titleTwo"
      [data]="dataTwo"
      [backgroundColor]="backgroundColorTwo"
      [labels]="labelsTwo"
    />
  </div>
</div>
<div class="row">
  <div class="col-6">
    <pages-doughnut-chart
      [title]="titleThree"
      [data]="dataThree"
      [backgroundColor]="backgroundColorThree"
      [labels]="labelsThree"
    />
  </div>
  <div class="col-6">
    <pages-doughnut-chart
      [title]="titleFour"
      [data]="dataFour"
      [backgroundColor]="backgroundColorFour"
      [labels]="labelsFour"
    />
  </div>
</div>
